#nothing Cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
bin

#nothing msvc
*.vcxproj
*.sln
*VC.db
*VC.opendb
*.vcxproj.filters
